*{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: #000000; */
}

/* Estilo personalizado para el sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Asegura que el sidebar esté encima del contenido principal */
    padding: 48px 0 0; /* Espaciado superior para evitar la superposición del navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); /* Sombra en el borde derecho */
}

/* Ajusta el ancho del sidebar */
@media (min-width: 768px) {
    .sidebar {
        width: 227px;
    }
}

.navbarBgColor{
    background-color: #8EE3F5;
}

.nav-item {
    padding: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color */
}

.nav-item:hover {
    background-color: #70CAD1; /* Cambia el color de fondo cuando se pasa el mouse sobre el elemento */
}

.dropdown-toggle { outline: 0; }

/* .body{
    background-color: #A8E0FF;
} */

table {
    font-size: 12px;
    /* border: 1px solid #CCC; */
}

.table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}

.background-container {
    background-image: url('../src/img/premium_photo-1661878589476-bcad7fe1b8c5.jpg');
    background-size: cover;
    background-position: center;
    height: 275px; /* Ajusta la altura según tu imagen */
    position: relative;
}
